{% extends "layout.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
<nav class="d-flex py-2">
    <a class="nav-link" href="/notes">Notes</a>
</nav>
<h1>Edit Note</h1>
<form method="post" action="/notes/{{note.id}}">
    <button class="btn btn-primary ms-auto d-block" type="submit">Save</button>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" id="title" value="{{ note.title }}">
    </div>
    <div class="mb-3">
        <label for="markdown" class="sr-only form-label">Note</label>
        <textarea class="form-control" name="markdown" id="markdown" rows="10">{{note.markdown}}</textarea>
    </div>
</form>

{% endblock %}