{% extends "layout.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
<nav>
    <a style="float: inherit;" href="/notes">Notes</a>
</nav>
<h1>Edit Note</h1>
<form method="post" action="/notes/{{note.id}}">
    <div>
        <label for="title">Title</label><br>
        <input type="text" name="title" id="title" value="{{ note.title }}">
    </div>
    <br>
    <div>
        <label for="markdown">Note</label><br>
        <textarea name="markdown" id="markdown" rows="10">{{note.markdown}}</textarea>
    </div>
    <br/>
    <button type="submit">Save</button>
</form>

{% endblock %}