{% extends "layout.html" %}
{% block title %}Notes{% endblock %}
{% block content %}

<nav class="d-flex py-2">
    <a class="nav-link" href="#">Notes</a>
    <a class="btn btn-primary ms-auto" href="/notes/new">New Note</a>
</nav>
<h1>Notes</h1>
<ul class="list-group list-group-flush">
    {% for note in notes %}
    <li class="list-group-item d-flex">
        {{note.title}}
        <a href="/notes/edit/{{note.id}}" class="btn btn-outline-secondary btn-sm ms-auto">Details</a>
        <a href="/notes/edit/{{note.id}}" class="btn btn-outline-secondary btn-sm ms-2">Edit</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}