{% extends "layout.html" %}
{% block title %}Notes{% endblock %}
{% block content %}
<nav>
    <a style="float: inherit;" href="/notes">Notes</a>
</nav>
<h1>New Note</h1>
<form method="post" action="/notes">
    <div>
        <label for="title">Title</label>
        <br>
        <input type="text" name="title" id="title">
    </div>
    <br>
    <div>
        <label for="markdown">Note</label>
        <br>
        <textarea name="markdown" id="markdown" rows="10"></textarea>
    </div>
    <br>
    <button type="submit">Create</button>
</form>

{% endblock %}