<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<style>
  body {
    font-family: sans-serif;
    max-width: 600px;
    margin: 0 auto;
    color: #262626;
    padding: 0 20px;
  }

  a, a:visited {
    color: #262626;
  }

  nav {
    margin: 30px 0 40px;
  }
  nav a {
    margin: 0 30px;
    text-decoration: none;
  }

  nav a:first-child {
    margin-left: 0;
  }

  nav a:last-child  {
    float: right;
  }

  textarea {
    width: 100%;
  }

</style>
<body>
{% block content %}{% endblock %}
<!--html-injection-middleware-->
</body>
</html>
